/* Mobile Styles */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-width: 13rem;
  max-width: 17rem;
  height: 320px;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-sm); 
  color:white;
  position: relative;
}

.status{
  position: absolute;
  top: -14px;
  left: 6px;
  background-color: red;
  padding: var(--padding-xs) var(--padding-xs);
  border-radius: var(--radius-md);
}

.infoContainer{
  /* background: linear-gradient(to bottom, #c1a88a, transparent); */
  background: linear-gradient(to bottom, rgba(193, 168, 138), rgba(193, 168, 138,0.60) );
  width: 100%;
  min-width: 13rem;
  display: flex;
  flex-direction: column;
  /* outline: orchid 1px solid; */
  padding-bottom:var(--padding-xxs);
  padding-left: var(--padding-xs);
  padding-right: var(--padding-xs);
  border-radius: var(--radius-sm); 
}
.title{
  margin: var(--margin-xs) 0px;
  text-wrap: balance;
	/* text-shadow:  1px 1px ; */
}

@supports(text-wrap:pretty) {
  .title {
    text-wrap: pretty;
  }
}


.priceAndDateContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-md);
}

.price{
}

.date{
  
}

.viewDetailBtn{
  align-self: center;
  margin-bottom: var(--margin-xxs);
}


/* .title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 600;
  color: white;
  line-height: 1.2;
  font-size: 22px;
  margin-top: var(--mantine-spacing-xs);
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
} */

/* Tablet styles */
@media (min-width: 600px) {
  .card {
    height: 380px;
    padding: 1.5rem;
  }
  .title {
    font-size: 28px;
  }
  .category {
    font-size: 14px;
  }
}

/* Desktop styles */
@media (min-width: 900px) {
  .card {
    height: 440px;
    padding: 2rem;
  }
  .title {
    font-size: 32px;
  }
  .category {
    font-size: 16px;
  }
}
